.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 30px;
}
@media (width < 1350px) {
  .cards {
    justify-content: center;
    padding: 20px;
    padding-top: 0;
  }
}
@media (width < 1024px) {
  .cards {
    row-gap: 18px;
  }
}
.cards__title {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.18px;
  font-family: Mulish, serif;
  margin-block-end: 76px;
  width: 980px;
}
@supports (font-variation-settings: normal) {
  .cards__title {
    font-family: Mulish-Variable, serif;
  }
}
@media (width < 1350px) {
  .cards__title {
    display: flex;
    justify-content: center;
  }
}
@media (width < 1024px) {
  .cards__title {
    justify-content: flex-start;
    margin-left: 14px;
  }
}
@media (width < 768px) {
  .cards__title {
    font-size: 32px;
    flex-direction: column;
    gap: 8px;
    margin-block-end: 49px;
  }
}
@media (width <= 320px) {
  .cards__title {
    font-size: 25px;
  }
}
.cards__span {
  max-width: 516px;
  height: 79px;
  border-radius: 100px;
  background: #C9FF50;
  padding: 7px 14px 14px 13px;
}
@media (width < 768px) {
  .cards__span {
    width: 365px;
    height: 57px;
  }
}
@media (width <= 320px) {
  .cards__span {
    width: 290px;
  }
}