.main {
  display: flex;
  gap: 80px;
  justify-content: space-around;
  margin-left: 120px;
  position: relative;
}
@media (width < 1350px) {
  .main {
    flex-direction: column;
    margin: auto;
    gap: 30px;
  }
}
@media (width < 1024px) {
  .main {
    overflow: hidden;
  }
}
.main__cards {
  position: relative;
  overflow: hidden;
  min-height: 880px;
}
@media (width < 768px) {
  .main__cards {
    min-height: 837px;
    position: static;
  }
}
.main__button {
  width: 200px;
  height: 51px;
  border-radius: 100px;
  background: #C05AFF;
  color: #FFF;
  border: none;
  cursor: pointer;
  margin-block-end: 76px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.18px;
  font-family: Mulish, serif;
  transition: opacity 0.3s ease;
}
@supports (font-variation-settings: normal) {
  .main__button {
    font-family: Mulish-Variable, serif;
  }
}
.main__button:focus {
  outline: none;
}
.main__button:focus-visible {
  outline: 1px solid #000;
}
.main__button:hover {
  opacity: 0.6;
}
@media (width < 768px) {
  .main__button {
    width: 154px;
    height: 43px;
    font-size: 14px;
  }
}
.main__form-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.18px;
  font-family: Mulish, serif;
}
@supports (font-variation-settings: normal) {
  .main__form-text {
    font-family: Mulish-Variable, serif;
  }
}
.main__filter {
  background-color: #C05AFF;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  border: none;
  display: none;
  cursor: pointer;
}
.main__filter:focus {
  outline: none;
}
.main__filter:focus-visible {
  outline: 1px solid #000;
}
@media (width < 1024px) {
  .main__filter {
    display: block;
  }
}
.main__filter-ico {
  width: 34px;
  height: 49px;
}
.main__lines {
  position: absolute;
  left: -101px;
  width: 217px;
  height: 267px;
  bottom: -47px;
}
@media (width < 1024px) {
  .main__lines {
    display: none;
  }
}
.main__ellipse {
  width: 400px;
  height: 500px;
  position: absolute;
  top: -13px;
  right: -90px;
}
@media (width < 1024px) {
  .main__ellipse {
    display: none;
  }
}
.main__star {
  width: 155px;
  height: 143px;
  position: absolute;
  bottom: 9px;
  right: 18px;
}
@media (width < 768px) {
  .main__star {
    inset: 0;
    width: 79px;
    height: 79px;
    top: 16px;
    left: 315px;
  }
}
.main__arrow {
  width: 15px;
  height: 7.5px;
}
.main__forms {
  width: 220px;
}
@media (width < 1350px) {
  .main__forms {
    display: flex;
    width: auto;
    justify-content: space-around;
    gap: 5px;
  }
}
@media (width < 1024px) {
  .main__forms {
    justify-content: left;
    margin-left: 15px;
    height: 45px;
  }
}
.main__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 235px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
}
@media (width < 1024px) {
  .main__form-container {
    display: none;
  }
}
.main__fieldset {
  display: grid;
  border: none;
  padding: 0;
}
.main__label {
  display: block;
  font-weight: 800;
  font-size: 12px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.18px;
  font-family: Mulish, serif;
}
@supports (font-variation-settings: normal) {
  .main__label {
    font-family: Mulish-Variable, serif;
  }
}
.main__label:not(:last-child) {
  margin-bottom: 11px;
}
.main__label .main__span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #C05AFF;
}